p {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #272D3B;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
